.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  .button-container {
    width: 100%;
    display: flex;

    justify-content: space-between;
    margin-bottom: 20px;
  }
}
button {
  border: none;
  border-radius: 9px;
  padding: 10px;
  color: white;
  font-weight: 900;
  font-size: 21px;
  cursor: pointer;
}
