.Header {
  width: 100%;

  .container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        text-decoration: none;
      }
    }
    .icon-container {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 25px;
    }
  }
}
